/*Color palette
    light blue #61CDF5
    black #333
    grey #bbb
*/
body {
    background-color: #bbb;
    color: #333;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    text-shadow: 0 0 5px #333;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

table {
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px #333 solid;
    box-shadow: 0 0 5px #333;
}

th {
    width: 30%;
    color: #FFF;
    text-shadow: 0 0 5px #333;
    background-color: #61CDF5;
    border-bottom: 1px #333 solid;
    padding: 1.4%;
    font-weight: 600;
}

td {
    border: 1px #333 solid;
    padding: 1%;

}

/* For checkered gray and white color
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: #FFF;
}
*/

tr:nth-child(even) {background-color: #FFF;}

