body {
    background-color: #bbb;
    color: #333;
    text-align: center;
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #FFF;
    font-weight: 600;
    text-shadow: 0 0 5px #333;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 0 5px #FFF;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
}

table {
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px #333 solid;
    box-shadow: 0 0 5px #333;
}

th {
    width: 30%;
    color: #FFF;
    text-shadow: 0 0 5px #333;
    background-color: #61CDF5;
    border-bottom: 1px #333 solid;
    padding: 1.4%;
    font-weight: 600;
}

td {
    border: 1px #333 solid;
    padding: 1%;

}

tr:nth-child(even) {background-color: #FFF;}

select {
    display: block;
    margin: 0 auto;
    font-size: 150%;
}
/***Hides shop info tables --- default setting***/
.hide {
    display: none;
}

/***Shows shop info tables***/
.show {
    display: block;
}
